@import url("reset.css");


@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
     /* border: 1px dashed #000;   */
}

body {
}

    

 





