@import url("reset.css");


@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    /* border: 1px dashed #000;  */
}

body {
    min-inline-size: 380px;
}
 




.task_1{
    padding-inline: 50px;
    background: #141414;
    margin: 0 auto;
    /* max-width: 800px; */
    margin-bottom: 30px;
}
.box_text{
    margin: 40px;
    background-color: #e4e4e6;
    max-width: 540px;
    padding: 20px;
    margin: 0 auto;
}
.box{
    background-color: #fff;
    padding: 32px;
    border-radius: 6px;
}
.box:not(:last-child){
    margin-bottom: 40px;
}
.box:hover{
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #a53dff;
    }
.box h1{
    background-color: #fff;
    padding-block-end: 16px;
    font-family: Poppins ;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #132238;
}
.box p{
    background-color: #fff;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #424e60;
}



.task_2{
    /* border: 5px dashed red; */
    background-color: #f0f0f6;
    border-radius: 56px;
    max-width: 542px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-family: "DM Sans";
    font-weight: 700;
}
.task_2:hover{
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.9);
}
.cast{

    border-radius: 34px;
    max-width: 495px;
    background-color: #4A3AFF;
    margin-bottom: 33.83px;
    padding-block: 45px;
    margin: 0 auto;
    margin-bottom: 34px;
}
.cast-text{
   margin: 0 auto;
   max-width: 217px;
}
.cast h1{
    font-size: 30px;
    line-height: 1.07;
    text-align: center;
    color: #edebff;
}
.cast h2{
    font-size: 116px;
    line-height: 1.03;
    text-align: center;
    color: #fff;
}
.cast h3{
    font-size: 20px;
    line-height: 1.10;
    text-align: center;
    color: #b7b0ff;
}
.list{
    margin-left: 30.99px;
}
.list_item{
    vertical-align: middle;
    list-style: none;
    font-family: "DM Sans";
    font-size: 28px;
    line-height: 1.36;
    color: #1e1b39;
}
.list_item:not(:last-child){
    margin-bottom: 26px;
}
.list_item::before{
    content: "";
    vertical-align: middle;
    width: 36px;
    height: 36px;
    /* background-color: #4A3AFF; */
    border-radius: 50%;
    background: url(../img/Check.svg) center / 60% no-repeat, #4A3AFF;

    margin-right: 14px;
} 





.task_3{
  font-family: "Epilogue";
    /* display: block; */
    /* display: none; */
    background: #fdf0e9;
    margin-block-end: 50px;
    padding-block: 60px;
}
.photo{
  margin-block-end: 74px; 
}
.photo img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 970px;
}
.content{
    max-width:570px ;
    margin: 0 auto;
    text-align: left;
}

.text1{
    margin-block-end: 32px;
}
.text2{
    margin-block-end:51px ;
}

.text3{
    margin-block-end: 35px;
}
.text4{
    margin-block-end: 34px;
}
.ok{
    margin-block-end: 32px;
}
.text6{
    margin-block-end: 65px;
}
.text7{
    margin-block-end: 32px;
}
.text8{
    margin-block-end: 28px;
}
.last_list{
    margin-block-end: 32px;
}
.text9{
    margin-block-end: 69px;
}
 .picture{ 
    margin-block-end: 76px;
} *

.content h1{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #391400;
    
}
.content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #7f6454;

}
.content h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #391400;
    
}
.content li{
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #391400;

}
ul.kum{
    list-style: none;
} 
 .kum li::before{ 
    margin-right: 16px;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-color: #ef6d58;
    border-radius: 50%;
    content: "";
    
} 

.content h3{
    font-family:Epilogue;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #391400;
    
} 
.ol {
  list-style-type: decimal; /* стандартная нумерация */
  padding-left: 20px;
}

.picture{
    border-radius: 6px;
    background: #f9e5da;
    max-width: 570px;
    padding: 42px 32px 32px 112px;

}

.picture_text::before{
    content: "";
    background:url(../img/Shape.png)  0 0 / 48px no-repeat ;
    width: 48px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 32px;
    margin-left: -77px;
}

.picture p{
    font-family: Epilogue;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color:#291400;
}


.last{
    font-family: Epilogue;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #7f6454;
}





.task_4{
    border: 1px dashed #000;

    font-family: var(--font-family);
    font-family: "DM Sans";
    background-color: #e9e7d4;
}
.block_max {
    max-width: 629px;
    margin: 0 auto;
    background-color: #fff;
    
 }

p.link{
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #4A3AFF;
    margin-inline-end: 8px;
}

h1.titile{
    margin-inline-end: 8px;
    font-weight: 700;
    font-size: 42px;
    line-height: 129%;
    color: #1e1b39;
    margin-block-end:  8px;
}
.block_1{
    margin-block-end: 54px;
    padding: 15px;
    border-radius: 10px;
    
}
.block_1 h1.titile::after{
    content: "";
    margin-right: 16px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/Title\ \(1\).png)  0 0 / 30px no-repeat;
}
.block_1:hover{
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.9);
}
.block_2{
    padding: 15px;
    border-radius: 10px;
    margin-block-end: 54px;
}
.block_2 h1.titile::after{
    content: "";
    margin-right: 16px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/Title@2x.png)  0 0 / 30px no-repeat;
}
.block_2:hover{
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.9);
}
.block_3 h1.titile::after{
    content: "";
    margin-right: 16px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/Title.png)  0 0 / 30px no-repeat;
}
.block_3{
    padding: 15px;
    border-radius: 10px;
}
.block_3:hover{
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.9);
}


p.text{
    font-weight: 400;
    font-size: 24px;  
    line-height: 175%;
    color: #6e6c83;
}
