
@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
     /* border: 1px dashed #000;   */
}

body {
     background-color: #82679b;
     color: #fff;
     font-family: "Epilogue";
}

header{
     text-align: center;
     background-color: #516b4b;
     padding: 7px;
     font-size: 20px;
     position: sticky;
     width: 100%;
     margin-bottom: 20px;
}
.content{
     padding: 15px;
     max-width: 1600px;
     margin: 0 auto;
     border-radius: 15px;
     min-height: 1800px;
     background-color: #4a4c64;
}

.content__text{
     font-size: 20px;
     margin: 0 auto;
     padding: 15px;
     max-width:650px ;
     border-radius: 5px;
     margin-bottom: 50px;
     background-color: #28293e
}
.content__task1{
     margin: 0 auto;
     max-width: 570px;
     min-height: 650px;
     position: relative;
     margin-bottom: 40px;
     border-radius: 5px;
}
.background{
     width: 400px;
     height: 400px;
     position: absolute; 
     margin: 0 auto;
     margin-left: 90px;
     margin-top: 100px;
}
.img__circle{
     position: absolute;
     background-color: #32334C;
     width: 400px;
     height: 400px;
     border-radius: 50%;
     
     
}
.first-background{
     position: absolute;
     inset-block-start: 100px;
     width: 246px;
     height: 200px;
     margin-left: 10px;
}
.square{
     position: absolute;
     inline-size: 245px;
     block-size: 200px;
     border-radius: 10px;
     z-index: 1;
     background-color: #b550f8;

}
.circle{
     position: absolute;
     inline-size: 245px;
     block-size: 245px;
     border-radius: 50%;
     z-index: 1;
     background-color: #b550f8;
     top: -100px;
}
.laptop{
     position: absolute;
}
.img2{
     position: absolute;
     z-index: 2;
     top: 30px;
     left: 40px;
}
.circle-orenge{
     position: absolute;
     z-index: 2;
     background-color: #EF6D58;
     inline-size: 112px;
     block-size: 112px;
     border-radius: 50%;
     inset-inline-start: 53%;
     inset-block-start: 5%;
}
.img6{
     display: block;
     margin: 0 auto;
     margin-top: 25%;
}
.brain{
     position: absolute;
     right: 115px;
     top: 70px;
}
.img3{
     position: absolute;
}
.first-background__yelow{
     position: absolute;
     inset-block-start: 352px;
     inset-inline-start: 315px;
}
.square1{
     position: absolute;
     inline-size: 245px;
     block-size: 200px;
     border-radius: 10px;
     z-index: 2;
     background-color: #f7cc47;
}
.circle1{
     position: absolute;
     inline-size: 245px;
     block-size: 245px;
     border-radius: 50%;
     z-index: 2;
     background-color: #f7cc47;
     inset-block-end: -120px;
}
.women{
     position: absolute;
     left: 315px;
     top: 283px;

}
.img1{
     position: absolute;
     z-index: 3;
}
.vector{
     position: absolute;
     left: 300px;
     top: 600px;
}
.img4{
     position: absolute;
     z-index: 4;
}
.profile{
     position: absolute;
     left: 70px;
     top: 500px;
}
.vector2{
     position: absolute;
     left: 30px;
     top: 400px;
}

.content__task2 {
     width: 1454px;
     margin: 0 auto;
}
.content2{
     border-radius: 10px;
     background-color: #28293e;
     position: absolute; 
     display: inline-block;
     vertical-align: middle;
     padding-inline: 16px;
     padding-block: 96px;
}


.text{
     position: absolute;
     z-index: 6;
     bottom: 51px;
     padding-left: 40px;
}
.button1{
     width: 102px;
     height: 38px;
     border-radius: 20px;
     background-color: #fff;
     color:#391400;
     text-align: center;
     padding: 10px 6px 10px;
     margin-bottom: 23px;
}
.photo1,.photo2,.photo3 {
     display: inline-block;
     vertical-align: top;
     position: relative;
     margin: 0 16px;
     margin-bottom: 20px;
}

.title_img{
     font-weight: 800;
     font-size: 40px;
     color: #fff;
}



footer{
     text-align: center;
     background-color: #516b4b;
     padding: 7px;
     font-size: 20px;
     position: fixed;
     width: 100%;
     bottom: 0;
     z-index: 7;
}

