@import url("reset.css");


@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
     /* border: 1px dashed #000;   */
}

body {
    min-inline-size: 380px;
    font-family:"Poppins" ;
    color: #391400;
    font-size: 28px;
}
 
.list{
    padding: 20px;
    max-width: 700px; 
    margin: 20px;
    margin: 0 auto;
    background-color: #f9e5da;
    border: rgb(248, 135, 29) solid 5px;
}
.photo{
    margin-bottom: 20px;

}

.circlea::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 200px;
    height: 100px;
    background: url(../img/Bitmap\ 1.jpg) center / 100% no-repeat;
}
.circleb::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 200px;
    height: 100px;
    background: url(../img/Bitmap.jpg) center / 100% no-repeat;
}




.circle_1::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: url(../img/Combined\ Shape.svg) center / 60% no-repeat, #ef6d58;
}

.circle_2::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: url(..//img/facebook.svg) center / 40% no-repeat, #ef6d58;
}
.circle_3::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: url(../img/instagram.svg) center / 40% no-repeat, #ef6d58;
}
.circle_4::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: url(../img/twitter.svg) center / 40% no-repeat, #ef6d58;
}
.circle_5::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: url(../img/Shape.svg) center / 40% no-repeat, #ef6d58;
}
.circle_6::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: url(../img/Path\ 1.svg) center / 80% no-repeat, #ef6d58;
}

.circle_7::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 100px;
    height: 60px;
    border-radius: 50px;
    background: url(../img/Bitmap\ 1.svg) center / 80% no-repeat;
}
.circle_8::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 100px;
    height: 60px;
    border-radius: 50px;
    background: url(../img/Bitmap\ 2.svg) center / 80% no-repeat;
}
.circle_9::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 100px;
    height: 60px;
    border-radius: 50px;
    background: url(../img/Bitmap\ 3.svg) center / 80% no-repeat;
}
.circle_10::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 100px;
    height: 60px;
    border-radius: 50px;
    background: url(../img/Bitmap\ 4.svg) center / 80% no-repeat;
}
.circle_11::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 100px;
    height: 60px;
    border-radius: 50px;
    background: url(../img/Bitmap.svg) center / 100% no-repeat;
}
.circle_12::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 100px;
    height: 60px;
    background: url(../img/Combined\ Shape\ 1.svg) center / 100% no-repeat;
}
.circle_13::before{
    margin-right: 20px;
    content: "";
    vertical-align: middle;
    width: 100px;
    height: 100px;
    background: url(../img/Star.svg) center / 100% no-repeat;
}






