@import url("reset.css");


@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,700,800);
* {
    /* border: 1px dashed #ffffff; */
}
body{
    background-color: #6e5a5a;
}
.task_1{
    /* margin: 30px; */

}
.box{
    width: 620px;
    /* height: 809px; */
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 30px;
    padding: 50px;
}    
.info{
    width: 520px;
    height: 253px;
    background-color: rgb(255, 255, 255);
    margin-block-end: 71px;
    
}
.info h1{
    font-family:Manrope ;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;
    color: #091133;
    margin-block-end: 16px;
}
.info p{
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #99c0ec;
}
.block{
    display: inline-block; /* робимо блоки інлайн */
    vertical-align: top;   /* вирівнюємо по верхньому краю */
    width: 245px;
    height: 138px;
    border-radius: 10px;
    /* padding: 10px; */
    /* margin: 10px;  */
    background-color: rgb(255, 255, 255);
    margin-block-end: 50px;
}
.block:nth-child(1),
.block:nth-child(3){
    margin-inline-end: 30px;
}
.block:nth-child(3),
.block:nth-child(4) {
    margin-block-end: 0;
}
.block img {
    margin-inline-end: 16px;
}
.block h2{
    font-family:Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 163%;
    color: #1b242e;
    display: inline-block;
}
.block p{
    font-family: Manrope;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #4b4f5c;
    margin-inline-start: 52px;
    
}
.inline-block{
    font-size: 0; /* прибирає відступи між inline-block */
}


.task_2{

}
.section{
    padding: 20px;
    width: 660px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    
}
.title h3{
    font-family: Manrope;
    font-weight: 500;
    font-size: 50px;
    line-height: 132%;
    letter-spacing: 0.02em;
    color: #08052e;
    margin-block-end: 20px;
}
.title p{
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #384694;
    margin-block-end: 69px;
}
.title{
    margin-bottom:20px ;
}
.aside{
    
    display:inline-block;
    vertical-align: top;
    border-radius: 2px;
    width: 189px;
    height: 36px;
    background-color: #252d5e;
    color: white;

}
.aside h4{
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 163%;
    text-align: center;
}
.content{
    display:inline-block;
    vertical-align: top;
    border: 2px solid #08052e;
    border-radius: 2px;
    width: 189px;
    height: 36px;
    margin-left: 30px;
}

.content h5{
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 163%;
    text-align: center;
    color: #08052e;
}


.task_3{
    
}
  .sidebar{
    padding: 20px;
    width: 1700px;
    background-color: #141414;
    border-radius: 10px;
    margin: 0 auto;
}
.plan-c{
    width: 1297px;
}
.sidebar h6{
    width: 1297px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.5;
    color: white;
    margin-block-end:14px ;
}
.sidebar p{
    
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgb(80, 78, 78);
    margin-block-end: 80px;
}
.blocks{
background: 
        linear-gradient(
            230deg,
            rgba(229, 0, 0, 0.1) 0%,   /* початок прозорий червоний */
            rgba(229, 0, 0, 0) 81.37%  /* кінець повністю прозорий */
        ),
        #141414;

    margin: 20px;
    text-align: left; 
    display:inline-block;
    vertical-align: top;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 50px;
    width: 30%;          
    min-width: 300px;
}
.img-block {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    border: 1px solid #302e2e;
    border-radius: 12px;
    padding: 16px;
    width: 72px;
    height: 72px;
    text-align: center;
    }
.img-block img {
    max-width: 100%;
    max-height: 100%;
}
.box3 {
    display: inline-block;
    vertical-align: middle; 
    margin-bottom: 20px;    
    width: auto;            
}

.box3 span {
    display: inline-block;
    vertical-align: middle; 
    color: white;
    font-family: Manrope;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

.blocks p{
    margin: 0;
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(85, 82, 82);
}
.blocks-container{
     font-size: 0px;
     margin: 20px;
     text-align: left; 
}  
.plan-b{
    margin-block-end: 30px;
}
   





